
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f7fb;
    color: #222;
    line-height: 1.6;
}

a { text-decoration: none; color: inherit; }

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


.header {
    background: linear-gradient(to right, #0b0c1e, #101236);
    color: white;
    padding-bottom: 80px;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #00c3ff;
}

.nav-links li {
    display: inline-block;
    margin-left: 25px;
}

.nav-links a {
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00c3ff;
}


.hero {
    margin-top: 60px;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}

.hero h2 span {
    color: #00c3ff;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #00c3ff;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #009ac7;
}


.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.about-section,
.services-section,
.projects-section,
.contact-section {
    padding: 80px 0;
}


.about-section p {
    font-size: 18px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}


.services-grid {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* PROJECTS GRID */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

/* PROJECT CARD BASE STYLE */
.project-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* UNIFORM IMAGE SIZE */
.project-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* TEXT AREA */
.project-card h3,
.project-card p {
    padding: 15px;
}

.project-card p {
    color: #444;
    flex-grow: 1; /* makes all cards equal height */
}


.contact-box {
    text-align: center;
    font-size: 18px;
}

.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    max-width: 500px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #00c3ff;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
